body {
  background-image: url("table.jpg");
  background-repeat: no-repeat;
  background-size: 3650px;
  text-align: center;
  /*  yellow: rgb(219,170,7);  */
}

#main {
 display:grid;
 text-align: center;
 align-content: center;
 grid-template-rows: auto auto;
}

#title {
  color: rgb(219,170,7);
  font-size: 4em;
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.05em;
}

#app {
  display: grid;
  grid-template-rows: 10vh auto auto auto 5vh;
  -ms-grid-row-align: center;
  align-items: center;
  align-content: center;

}

.app-text {
  color:white;
  font-weight: bold;
  font-size: 2em;
  font-family: "Lora", sans-serif;
}

#game-result {
  margin-bottom: 50px;
}

#buttons {
  display:grid;
  position: relative;
  grid-template-rows: auto auto;
  align-content: center;
  text-align: center;


}

button {
  height: 5vh;
  width: 25vw;
  transform: translateX(150%);
  margin: 5px 0 5px 0;
  background: rgb(219,170,7);
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}

.button-text {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  mix-blend-mode: multiply;
}

#money {
  display:grid;
  grid-template-rows: auto auto auto;
  margin-top: 10px;
  
}

.money-button {
  height: 5vh;
  width: 3vw;
  justify-content: center;
  justify-items: center;
  text-align: center;
  position: relative;
  border-radius:5px;
 
  
  
}

.money-text {
  font-size: 2.5em;
  font-weight:bold;
  

}

#betting-money {
  transform:translateX(3%);
  margin-bottom: 20px;
}

#error-text {
  color: red;
  font-size: 1.5em;
  font-weight:bold;
  font-family:"Lora", sans-serif;
  text-align:center;
}

#winnings-grid {
  display:grid;
  grid-template-columns: 59% 41%;
  grid-column-gap: 3vw;
}

.profit {
  color: rgb(0,255,0);
  font-weight: bold;
  font-size: 2em;
  font-family: "Lora", sans-serif;
}

.loss {
  color:red;
  font-weight: bold;
  font-size: 2em;
  font-family: "Lora", sans-serif;
}